@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

$font-family-sans-serif : 'Rubik', sans-serif;



$navbar-nav-link-padding-x : 1.5rem;
$navbar-padding-y:1.5rem;
//$nav-link-color : #000;



$btn-padding-x : 2rem;
$btn-border-width : 2px;

$primary : hsl(231, 69%, 60%);
$danger : hsl(0, 94%, 66%);

$card-border-color : transprent;
$card-border-radius : 1rem;

$accordion-button-color : #000;
$accordion-button-active-color : $danger;


@import "../node_modules/bootstrap/scss/bootstrap";

.header{
  z-index: 1500;
}

.btn-danger{
  color: #fff;
  text-transform: uppercase;
}

.min-vh-70{
  min-height: 70vh;
}

.mb-150{
  margin-bottom: 150px;
}

.mb-300{
  margin-bottom: 300px;
}

.feature-tab{
  .nav-link{
    padding: 1rem 2.5rem;
  }
}

.footer-text{
  letter-spacing: 5px;
}

footer{
  background: hsl(229, 31%, 21%);
}